.teaching-system-banner {
  display: block;
  background: url("../images/teach-system/teach-banner.jpg") no-repeat center
    center #f2f2f2;
  height: 630px;
}

.teaching-system {
  &-block {
    padding: 70px 0 50px;
  }
  .system-title {
    p {
      font-size: 24px;
      line-height: 1;
    }
  }
  .swiper-button-next,
  .swiper-button-prev {
    box-sizing: content-box;
    -webkit-box-sizing: content-box;
    padding: 21px 29px;
    border-radius: 50%;
  }
}

.teaching-system-01 {
  .system-title {
    h2 {
      display: block;
      text-indent: -999em;
      background: url("../images/teach-system/teaching-title-01.jpg") no-repeat
        center top;
      height: 70px;
    }
    p {
      font-size: 28px;
      padding-top: 20px;
      line-height: 1;
    }
  }
  .btn-booking {
  }
}

.teaching-system-02 {
  position: relative;
  background: url("../images/teach-system/teach-system-02.png") no-repeat center
    top $theme-color;
  height: 934px;
  .system-title {
    color: $color-white;
    h2 {
      font-size: 62px;
      line-height: 62px;
    }
  }
  .teaching-system-content {
    position: relative;
  }
  .swiper-container {
    width: 934px;
    height: 627px;
  }
  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 686px;
    height: 627px;
    border-radius: 15px;
    overflow: hidden;
  }
  .swiper-button-next2,
  .swiper-button-prev2 {
    background-color: $color-white;
  }
}

.teaching-system-03 {
  padding-bottom: 0;
  position: relative;
  .teaching-system-content {
    position: relative;
    background: url("../images/teach-system/teach-swiper2-mac.png") no-repeat
      center top;
    height: 758px;
    z-index: 1;
  }
  .swiper-container {
    width: 811px;
    height: 504px;
    padding: 42px 0 0 0;
  }
  .swiper-slide {
    height: 462px;
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
  .swiper-button-next3,
  .swiper-button-prev3 {
    background-color: $color-primary;
    top: 260px;
  }
  &-b {
    position: absolute;
    width: 100%;
    height: 70px;
    background-color: #ffba26;
    left: 0;
    bottom: 0;
    z-index: 0;
  }
}

.teaching-system-04 {
  background-color: #ffba26;
  padding-bottom: 70px;
  .system-title {
    color: #68390c;
  }
  .teaching-system-content {
    position: relative;
    background: url("../images/teach-system/teach-swiper3-pad.png") no-repeat
      center top;
    height: 685px;
  }
  .swiper-container {
    width: 744px;
    padding: 65px 0 0 0;
  }
  .swiper-slide {
    height: 556px;
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
  .swiper-button-next4,
  .swiper-button-prev4 {
    background-color: $color-white;
  }
}

.teaching-system-05 {
  background-color: $color-white;
  .teaching-system-content {
    position: relative;
    height: 501px;
  }
  .swiper-container {
    width: 898px;
    height: 501px;
  }
  .swiper-slide {
  }
  .swiper-button-next5,
  .swiper-button-prev5 {
    background-color: $color-primary;
  }
}

.teaching-system-06 {
  background-color: #fafafa;
  .system-title {
    h2 {
      font-size: 62px;
      line-height: 62px;
      color: #000;
    }
  }
  .system-list {
  }
  .system-list-item {
    width: 1108px;
    height: 100px;
    margin-bottom: 20px;
    display: block;
    &-title {
      display: inline-block;
      width: 210px;
      height: 100%;
      position: relative;
      font-size: 24px;
      color: $color-white;
      text-align: center;
      padding-top: 13px;
      &:before {
        position: absolute;
        top: 50%;
        transform: translate3d(0, -50%, 0);
      }
    }
    &-text {
      width: 780px;
      height: 100%;
      padding: 20px 0;
      font-size: 18px;
      line-height: 28px;
      &.lh56 {
        line-height: 56px;
      }
    }
    &.item-single {
      border: 2px solid $color-primary;
      .system-list-item-title {
        background-color: $color-primary;
        &:before {
          @include arrow(right,20px,$color-primary);
          right: -20px;
        }
      }
      .system-list-item-text {
        margin-left: 265px;
      }
    }
    &.item-double {
      margin-left: 62px;
      border: 2px solid #939393;
      .system-list-item-title {
        background-color: #939393;
        &:before {
          @include arrow(left,20px,#939393);
          left: -20px;
        }
      }
      .system-list-item-text {
        margin-left: 70px;
      }
    }
  }
}
