//主题颜色
//$theme-color: #ff8a00;


// 主色
$color-primary: #128A6C;
$color-danger: #f6383a;
$color-warning: #f60;
$color-success: #4cd964;

//active 色调
$color-primary-active: darken($color-primary,10%);
$color-danger-active: darken($color-danger, 10%);
$color-warning-active: darken($color-warning, 10%);
$color-success-active: darken($color-success, 10%);

$color-split: #e6e6e6;  //分割线的颜色
$color-bg: #eee;

$color-white:#fff;

$color-text: #333; //文案色
$color-text-secondary: #666; //次级文案
$color-text-gray: #999; //灰色文案
$color-text-gray-light: #ccc; //更灰色文案

//链接色
$color-link: $color-primary; //链接色有可能不同于主色
$color-link-active: $color-primary-active; //链接色有可能不同于主色


//按钮颜色
$color-btn-primary:#ff7011;


// Transitions
// --------------------------------------------------
$timing-fuction: cubic-bezier(.1,.5,.1,1); // Inspired by $c2prods


$themeColor:#1295D8;
$skinColor:#F96554;
//字体颜色

$white:#fff;
//边框颜色
$e0:#e0e0e0;
$d2:#d2e2e2;