/******新增商品规格css******/
/*a#kongsku{coloe:#FFF;}*/
.goods_specs{
  background: none repeat scroll 0 0 #f9f9f9;
    border: 1px solid #dddddd;
    display: none;
    margin-right: 4px;
    padding: 10px;
    width:90%;
    float:left;
}
.goods_specs .prop_name{ 
  float:left;
}
.goods_specs .prop_values{ 
  float:left; 
  width: 100%;
  padding: 0;
}
.goods_specs .prop_values li {
    float: left;
    line-height: 25px;
    margin: 5px 0 5px 20px;
    width: 130px;
    height: 25px;
    list-style: none;
}
.goods_specs .prop_values li input, .goods_specs .prop_values li label{float:left;}
.goods_specs .prop_values li label {
    margin-left: 5px;
}
.goods_specs .prop_values li .inputtext2{
  display:none;
  height: 25px;
  line-height: 25px;
  padding: 3px;
  border-color: #b9b9b9;
  color: #5c5c5c;
  margin-left: 5px;
  border-top:1px solid #bebebe;
  border-left:1px solid #bebebe;
  border-right:1px solid #e1e1e1;
  border-bottom:1px solid #e1e1e1;
  background:url(../images/input_bg.jpg) repeat-x 0 0;
  width:100px;
}
.goods_specs .prop_values li.selected label{
  display:none;
}
.goods_specs .prop_values li.selected .inputtext2{
  background:#FFFFFF;
  display:inline;
}
.construct_specs{ 
  margin-top:5px;
  width:98%;
  float:left;
}
.construct_specs table {
    border: 1px solid #d3d3d3;
    border-collapse: collapse;
    font-size: 12px;
    text-align: center;
}
.construct_specs table th, .construct_specs table td {
    border: 1px solid #ccc;
    width:100px;
}
.construct_specs table th {
    background-color: #f5f5f5;
    padding: 8px;
    text-align: center;
}
.construct_specs .inputtext{ width:70px; padding:5px; margin:2px;}
a.red{color:#C00;}
.show{display:block;}
.hide{display:none;}

/***商品图片***/
.pic_list{float:left; margin:2px;position: relative;}
.operate {
    left: 20px;
    position: absolute;
    top: 85px;
}
.operate .toleft, .operate .toright{display: none;}
.operate i {
    cursor: pointer;
}
.pic_list img{width:120px; height: 120px;}