<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
	<meta charset="utf-8" />
	<block name="title"><title>后台管理</title></block>
	<meta content="width=device-width, initial-scale=1.0" name="viewport" />
	<meta content="" name="description" />
	<meta content="" name="author" />
	<!-- BEGIN GLOBAL MANDATORY STYLES -->
	<link href="__PUBLIC__/Admin/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
	<link href="__PUBLIC__/Admin/css/bootstrap-responsive.min.css" rel="stylesheet" type="text/css"/>
	<link href="__PUBLIC__/Admin/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
	<link href="__PUBLIC__/Admin/css/style-metro.css" rel="stylesheet" type="text/css"/>
	<link href="__PUBLIC__/Admin/css/style.css" rel="stylesheet" type="text/css"/>
	<link href="__PUBLIC__/Admin/css/style-responsive.css" rel="stylesheet" type="text/css"/>
	<link href="__PUBLIC__/Admin/css/default.css" rel="stylesheet" type="text/css" id="style_color"/>
	<link href="__PUBLIC__/Admin/css/uniform.default.css" rel="stylesheet" type="text/css"/>
	
	<!-- END GLOBAL MANDATORY STYLES -->
	<!-- BEGIN PAGE LEVEL STYLES -->
	<!-- END PAGE LEVEL STYLES -->
	<link rel="shortcut icon" href="__PUBLIC__/Admin/image/favicon.ico" />
	<block name="header"></block>
</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<body class="{$pageId}">
	<!-- BEGIN LOGO -->
	<block name="main"></block>
	<block name="top"></block>
	
	
	<!-- BEGIN CONTAINER -->
	<div class="page-container row-fluid">
		<block name="left"></block>
		<!-- BEGIN PAGE -->
		<div class="page-content">
			<!-- BEGIN PAGE CONTAINER-->        
			<div class="container-fluid">
				<block name="right"></block>
			</div>
			<!-- END PAGE CONTAINER-->
		</div>
		<!-- END PAGE -->
	</div>
	<!-- END CONTAINER -->

	<block name="footer"></block>
	<!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
	<!-- BEGIN CORE PLUGINS -->
	<script src="__PUBLIC__/Admin/js/jquery-1.10.1.min.js" type="text/javascript"></script>
	<script src="__PUBLIC__/Admin/js/jquery-migrate-1.2.1.min.js" type="text/javascript"></script>
	<!-- IMPORTANT! Load jquery-ui-1.10.1.custom.min.js before bootstrap.min.js to fix bootstrap tooltip conflict with jquery ui tooltip -->
	<script src="__PUBLIC__/Admin/js/jquery-ui-1.10.1.custom.min.js" type="text/javascript"></script>
	<script src="__PUBLIC__/Admin/js/bootstrap.min.js" type="text/javascript"></script>
	<!--[if lt IE 9]>
	<script src="__PUBLIC__/Admin/js/excanvas.min.js"></script>
	<script src="__PUBLIC__/Admin/js/respond.min.js"></script>  
	<![endif]-->   
	<script src="__PUBLIC__/Admin/js/jquery.slimscroll.min.js" type="text/javascript"></script>
	<script src="__PUBLIC__/Admin/js/jquery.blockui.min.js" type="text/javascript"></script>  
	<script src="__PUBLIC__/Admin/js/jquery.cookie.min.js" type="text/javascript"></script>
	<script src="__PUBLIC__/Admin/js/jquery.uniform.min.js" type="text/javascript"></script>
	<!-- END CORE PLUGINS -->

	<!-- 日期控件 -->
	<script src="__PUBLIC__/Admin/js/bootstrap-datepicker.js" type="text/javascript" ></script>
	<script src="__PUBLIC__/Admin/js/bootstrap-datetimepicker.min.js" type="text/javascript" ></script>
	<script src="__PUBLIC__/Admin/js/bootstrap-datetimepicker.zh-CN.js" type="text/javascript" ></script>

	<script src="__PUBLIC__/Admin/layer/layer.js"></script>
	<script src="__PUBLIC__/Admin/base.js" type="text/javascript" ></script>

	<block name="script"></block>
	<!-- END JAVASCRIPTS -->
	<script type="text/javascript">  var _gaq = _gaq || [];  _gaq.push(['_setAccount', 'UA-37564768-1']);  _gaq.push(['_setDomainName', 'keenthemes.com']);  _gaq.push(['_setAllowLinker', true]);  _gaq.push(['_trackPageview']);  (function() {    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;    ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);  })();</script>
</body>
<!-- END BODY -->
</html>