.slide-pager a.active { background: #d9d9d9; }
.slide-pager a {color: #333;cursor: pointer; border: 1px solid #d9d9d9;; border-width: 1px 1px 1px 0; background-repeat: no-repeat; background-position: 4px center; display: table-cell; float: left; vertical-align: middle; text-decoration: none; font-size: 15px; line-height: 1.5em; }
.slide-pager a:hover {background: #d9d9d9;}
.slide-pager span { vertical-align: middle; display: inline-block;}
.slide-pager img { vertical-align: middle; display: inline-block; margin: 4px 12px 4px 4px; }
.slide-pager .pager-first { border-width: 1px 1px 1px 1px; }
.slide-pager {display:none;}
.bx-prev span,.bx-next span { margin: 14px auto 0;display: block;overflow: hidden;height: 0;width: 0;position: relative;_border-bottom-color:#FFF;_border-top-color:#FFF;}
.bx-prev span {border-right: 9px solid #7C7C7C;}
.bx-next span{border-left: 9px solid #7C7C7C;}
.circule-button { position: relative; top: -50px; display: inline-block; width: 1180px; text-align: center; }
.circule-button a { height: 10px; width: 10px !important; background-color: #999;border-radius: 50%;border: none;  margin-left: 10px; display: inline-block; float: none;wi}
.circule-button a:hover, .circule-button a.active { background-color: #fff;}
.circule-button a.active { }
.circule-button img, .circule-button span { display: none; }
.circule-button .pager-first { margin-left: 0; }